<div class="flex-container wrap-content">
    <div class="flex-container my-timeline">
        <app-card 
            svcName="1 - CloudFormation"
            pathSvcIcon="/aws-icons/aws-cloudformation.png"
            content="Create my first yaml to provisioning a S3 Bucket with Static Web Hosting enabled"
            detailsRoute="/firststep"
            svcClassColor="cloudformation-color"
        ></app-card>

        <app-card 
            svcName="2 - CloudFront"
            pathSvcIcon="/aws-icons/aws-cloudfront.png"
            content="Create a cloudfront distribuition with Price Class 100, because... you know"
            detailsRoute="/secondstep"
            svcClassColor="cloudfront-color"
        ></app-card>
        
    </div>

</div>  