.aws-color {
    color: #ff9900;
}

.cloudformation-color {
    color: #f14280;
}

.s3-color {
    color: #63a738;
}

.iam-color {
    color: #f7494b;
}

.cloudfront-color {
    color: #844fdd;
}

.codepipeline-color {
    color: #547bf7;
}

.linkedin-color {
    color: #0e76a8;
}

* {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding: 0;
    margin: 0;
    color: aliceblue;
}

body {
    background-color: #0d0d13;
    color: white;
}

.full-width {
    padding: 20px;
    width: 100%;
    justify-content: flex-start;
}

.flex-container {
    box-sizing: border-box;
    display: flex;
    width: 100%;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: row;
}

.flex-container-vertical {

    box-sizing: border-box;
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
}

header.page-header {
    height: 80px;
    justify-content: flex-start;
    align-items: center;
    font-weight: bold;
    font-size: 1.2em;
    padding: 8px;
    border-bottom: solid 1px #ff9900;
}

.wrap-content {
    padding: 20px;
    .back {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        width: 100%;
        cursor: pointer;
        .back-icon {
            font-weight: bold;
            font-size: 2em;
            margin-right: 10px;
            color: #ff9900;
        }
    }
    .content {
        justify-content: flex-start;
        .page-title {
            margin-bottom: 20px;
        }
        .listing {
            margin: 20px 0 20px 40px;
        }
    }
}