<div class="flex-container wrap-content">
    <div class="flex-container-vertical content">
        <h2 class="page-title">Welcome to my "DevLog"!</h2>
        <p>
            I created this project to track my study mainly about <span class="aws-color">AWS</span>, but I'm pretty sure I'll put some other content in the future.
            <br><br>
            You can see my resume by clicking <a href="" routerLink="/my-resume">here</a><br>
            Or you can see how I'm starting my learning with <span class="aws-color">AWS</span>, my first step is using the <span class="cloudformation-color">CloudFormation</span> service
            to create an <span class="s3-color">S3 Bucket</span> with Static Web Hosting, and host this <span class="iam-color">Angular</span> application that you can see!
            <br><br>
            My second step is to make the <span class="s3-color">S3 Bucket</span> private, only  allowing <span class="cloudfront-color">CloudFront</span> to see it... 
            Using <span class="cloudformation-color">CloudFormation</span> of course!
            <br><br>
            I'm not sure yet about the next step, maybe a <span class="aws-color">Lambda</span> function to be triggered by an 
            <span class="cloudformation-color">CloudWatch</span> Alarm to maybe delete the entire 
            <span class="cloudformation-color">CloudFormation</span> stack ... I'm up to suggestions
        </p>
        
    </div>
</div>